body {
    margin: 40px;
    background-color: antiquewhite;
}

main{
    margin: 0 auto;
    width: 100%;
    background-color: antiquewhite;
}

.sidebar {
    grid-area: sidebar;
    font-size: 22px;
}

.sidebar2 {
    grid-area: sidebar2;
    font-size: 22px;
}

.content {
    grid-area: content;
    font-size: 18px;
    min-height: 400px;
}

.header{
    grid-area: header;
    font: {
        size: 43px;
    }
    text: {
        align:center;
    }
}

.footer {
    grid-area: footer;
}

.wrapper {
    margin: 0 auto;
    color: #444;
    background-color: beige;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer"
}

@media only screen and (min-width: 500px)  {
.wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header   header"
        "sidebar  content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
}

@media only screen and (min-width: 600px)   {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header  header  header"
        "sidebar content sidebar2"
        "footer  footer  footer";
        max-width: 600px;
    }
}

@media only screen and (min-width: 800px){
    .wrapper {
        max-width: 800px;
    }
}

.box {
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.header,
.footer {
    color: black;
    background-color: darkgrey;
    height: 100px;
}

.sidebar2 {
    background-color: floralwhite;
color: #444;
}