body {
    margin: 40px;
    background-color: red;
}

main{
    margin: 0 auto;
    width: 100%;
    background-color: red;
}

main{
    margin: 0 auto;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.sidebar3 {
    grid-area: sidebar3/100%;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header/100%;
}

.footer {
    grid-area: footer;
}

.wrapper {
    margin: 0 auto;
    color: #444;
    background-color: rebeccapurple;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer"
}

@media only screen and (min-width: 500px)  {
.wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header   header"
        "sidebar  content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
}

@media only screen and (min-width: 600px)   {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header  header  header"
        "sidebar content sidebar2"
        "footer  footer  footer";
        max-width: 600px;
    }
}

@media only screen and (min-width: 800px){
    .wrapper {
        max-width: 800px;
    }
}

.box {
    background-color: yellowgreen;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
}

.header,
.footer {
    color: black;
    background-color: yellow;
    height: 100px;
}

.sidebar2 {
    background-color: yellow;
color: #444;
}